.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 178px auto 0;
  padding: 23px 42px 23px 40px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 45px auto 60px;
  padding: 23px 42px 23px 40px;
}