.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-form-1 {
  height: 181px;
  width: 575px;
  margin: 128px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}