.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  margin: 70px auto 0 18px;
  padding: 23px 54px 24px 52px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  margin: -79px auto 0;
  padding: 23px 54px 24px 52px;
}

.u-section-1 .u-btn-3 {
  font-size: 1.25rem;
  margin: -79px 0 0 auto;
  padding: 23px 54px 24px 52px;
}

.u-section-1 .u-btn-4 {
  font-size: 1.25rem;
  margin: 97px auto 0;
  padding: 23px 54px 24px 52px;
}

.u-section-1 .u-btn-5 {
  font-size: 1.25rem;
  margin: -79px 0 0 auto;
  padding: 23px 54px 24px 52px;
}

.u-section-1 .u-btn-6 {
  font-size: 1.25rem;
  margin: -79px auto 60px 0;
  padding: 23px 54px 24px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}