
h1{
   font-family: verdana;
   font-size: 2em;
   color: #000000;
}

h2{
   font-family: verdana;
   font-size: 1.8em;
   color: #000000;
}

hr{
   background-color: #000000;
   height: 5px;
   border: none;
}

li{
   padding: 10px;
}


a{
   font-family: verdana;
   font-size: 1.2em;
}

a:link{
   text-decoration:none;
   color: #000000;
}

a:hover{
   background: #ffffff;
   font-weight: bold;
}

table{
   padding: 20px;
   font-family: verdana;
   font-size: 1.2em;
   color: #000000;
   border-collapse: collapse;
}

th, td {
   border: 1px solid orange;
   padding: 7px;
}

select, input[type=text]{
   font-family: verdana;
   font-size: 1.2em;
   font-weight: bold;
   color: #000000;
}

input[type=number]{
   font-family: verdana;
   font-size: 1.2em;
   font-weight: bold;
   color: #000000;
}

input[type=submit]{
   font-family: verdana;
   font-size: 1.2em;
   font-weight: bold;
   color: #000000;
   padding: 10px;
}

button{
   font-family: verdana;
   font-size: 1em;
   font-weight: bold;
   color: #000000;
   padding: 7px;
}
